/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/common';
@import './base/container';
@import './utils/variables';
@import './components/header';
@import './components/movies-gallery';
@import './components/footer';
@import './components/modal-window';
@import './components/pagination';
@import './components/backToTop';
@import './components/library-gallery';
@import './components/spinner';
@import './components/dark';
@import './components/team-modal';
