:root {
  --accent-color-orange: #ff6b08;
  --accent-color-red: #ff001b;
  --title-color: #000000;
  --white-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-text-color: #545454;
  --logo-svg: #818181;
}
