<header class="section-header-library">
  <div class="container container-header">
    <div class="header-top">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo__svg" width="24px" height="24px">
          <use href="./images/svg-sprite.svg#icon-film"></use>
        </svg>
        <h1 class="header-logo__text">Filmoteka</h1>
      </a>
      <div class="headertheme-cont">
        <nav class="header-nav">
          <ul class="header-nav__list">
            <li class="header-nav__item">
              <a class="header-nav__home" href="./index.html">HOME</a>
            </li>
            <li class="header-nav__item">
              <a class="header-nav__library active-page" href="./library.html">MY LIBRARY</a>
            </li>
          </ul>
        </nav>
        <button class="headertheme-cont__btn" type="button">THEME</button>
      </div>
    </div>

    <div class="header-library-contain">
      <ul class="header-library-contain__wrapper">
        <li class="header-library-contain__item">
          <button
            class="
              header-library-contain__link header-library-contain__link--active
              btn-library-watched
            "
          >
            Watched
          </button>
        </li>
        <li class="header-library-contain__item">
          <button
            class="
              header-library-contain__link header-library-contain__link--inactive
              btn-library-queue
            "
          >
            Queue
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
