<header class="section-header-library">
  <div class="container container-header">
    <div class="header-top">
      <a class="header-logo" href="">
        <svg class="header-logo__svg" width="24px" height="24px">
          <use href="./images/svg-sprite.svg#icon-film"></use>
        </svg>
        <h1 class="header-logo__text">Filmoteka</h1>
      </a>
      <nav class="header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item"><a class="header-nav__home" href="">HOME</a></li>
          <li class="header-nav__item">
            <a class="header-nav__library active-page" href="">MY LIBRARY</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header-library-contain">
      <ul class="header-library-contain__wrapper">
        <li class="header-library-contain__item">
          <a class="header-library-contain__link header-library-contain__link-active header-library-contain__link-inactive href=""
            >Watched</a
          >
        </li>
        <li class="header-library-contain__item">
          <a class="header-library-contain__link header-library-contain__link-inactive header-library-contain__link-active" href="">queue</a>
        </li>
      </ul>
    </div>
  </div>
</header>
