<div class="container movies-container">
    <img class="blank-img blank-img-style" src="./images/blank-main-page.jpg" alt="blankImg" width="500px">
    <div class="movies-gallery"></div>
    <div class="pagination-container hide" disabled>
        <button class="pagination-row pagination-row-left" disabled type="button">
            <svg class="array-left" width="16px" height="16px">
                <use href="./images/svg-sprite.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <ul class="pagination-list"></ul>
        <button class="pagination-row pagination-row-right" disabled type="button">
            <svg class="array-right" width="16px" height="16px">
                <use href="./images/svg-sprite.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>
</div>