.container-header {
  @media screen and (min-width: 768px) {
    padding: 0 70px;
  }
}

.section-header {
  height: 230px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/mobile-1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 40px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/mobile-2x.png');
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/tablet-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/tablet-2x.png');
    }
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/desktop-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/desktop-2x.png');
    }
  }
}

.section-header-library {
  height: 230px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/second-mobile-1x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 40px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/second-mobile-2x.png');
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/second-tablet-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/second-tablet-2x.png');
    }
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/second-desktop-1x.png');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/second-desktop-2x.png');
    }
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  &__svg {
    stroke: var(--logo-svg);
  }
  &__text {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      font-size: 30px;
      line-height: 1.17;
      color: var(--white-color);
      text-transform: none;
    }
  }
}
.headertheme-cont {
  display: flex;
  gap: 20px;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 55px;
    color: var(--white-color);
    font-size: 9px;
    line-height: 1.17;
    background-color: transparent;
    border-color: var(--accent-color-orange);
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
  }
}
.header-nav {
  &__list {
    display: flex;
    gap: 40px;
  }
  &__item {
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.17;
  }
  &__home {
    color: currentColor;
  }
  &__library {
    color: currentColor;
  }
}

.header-contain {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
    position: relative;
    @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__input {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    padding-bottom: 4px;
    border: none;
    border-bottom: 0.5px solid var(--white-color);
    color: var(--white-color);
    outline: none;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      width: 340px;
    }
    &:hover,
    &:active,
    &:focus {
      border-bottom: 0.5px solid var(--accent-color-orange);
    }
    &:hover ::placeholder,
    &:active ::placeholder,
    &:focus ::placeholder {
      color: var(--accent-color-orange);
    }
  }
  &__search {
    position: absolute;
    bottom: 6px;
    right: 0;
    stroke: var(--white-color);
    @media screen and (min-width: 768px) {
      bottom: 25px;
    }
  }
  &__error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 1.14;
    color: var(--accent-color-red);
  }
}

::placeholder {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.active-page {
  position: relative;
  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background: var(--accent-color-orange);
    top: 14px;
  }
}

.header-library-contain {
  //   position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    // flex-direction: column;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: 768px) {
      gap: 15px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 44px;
    color: var(--white-color);
    font-size: 12px;
    line-height: 1.34;
    text-transform: uppercase;
    border-radius: 5px;
    border-style: solid;
    @media screen and (min-width: 768px) {
      width: 136px;
    }
    &--inactive {
      background-color: transparent;
      border-color: var(--white-color);
      transition: background-color, box-shadow;
      &:active,
      &:focus,
      &:hover {
        border: 1px solid #ff6b01;
        box-shadow: 0 8px 43px var(--accent-color-orange);
        transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
          box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
      }
    }
    &--active {
      background-color: var(--accent-color-orange);
      border-color: var(--accent-color-orange);
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }
  }
}
