.backdrop-container {
  position: fixed;
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.516);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;

  &.is-hidden {
    // opacity: 0;
    display: none;
    pointer-events: none;
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    padding: 48px 20px 40px;
    font-size: 12px;
    line-height: calc(16 / 12);
    @media screen and (min-width: 414px) {
      width: 320px;
    }
    @media screen and (min-width: 768px) {
      width: 618px;
      padding: 40px 30px;
    }
    @media screen and (min-width: 1020px) {
      width: 882px;
    }
  }
}
.info-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.modal-content {
  &__close-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  &__icon-close {
    stroke: #000;
  }
  &__img {
    width: 240px;
    height: 357px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto 30px;

    @media screen and (min-width: 768px) {
      width: 264px;
      height: 374px;
      margin: 0 30px 0 0;
    }
    @media screen and (min-width: 1020px) {
      width: 396px;
      height: 478px;
      margin-right: 30px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: calc(23.44 / 20);
    margin-bottom: 20px;
    text-transform: uppercase;
    @media screen and (min-width: 1020px) {
      font-size: 30px;
      line-height: calc(35 / 30);
    }
  }
  &__info-wrap {
    display: flex;
    margin-bottom: 20px;
  }
  &__subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
  &__description {
    color: var(--primary-text-color);
    line-height: calc(20 / 12);
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      padding-right: 5px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  //кнопка для просмотра трейлера
  &__trailer-btn {
    height: 44px;
    width: 95%;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--accent-color-orange);
    border-color: var(--accent-color-orange);
    border-style: solid;
    color: var(--white-color);
    &:hover,
    &:focus {
      background-color: #f4863d;
      box-shadow: 0px 4px 15px rgba(255, 107, 1, 0.6);
    }
    @media screen and (min-width: 768px) {
      width: 150px;
    }
  }
  &__trailer-icn {
    margin-right: 5px;
  }
}

.category-list {
  width: 35%;
  &__item {
    margin-bottom: 10px;
    color: #8c8c8c;
  }
}
.category-value-list {
  width: 65%;
  &__item {
    &_bg-color {
      display: inline-block;
      padding: 0 10px;
      border-radius: 5px;
      background-color: var(--accent-color-orange);
      color: #fff;
    }
    &_font-color {
      color: #8c8c8c;
    }
    margin-bottom: 10px;
  }
}
.btn-wrap {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1020px) {
    justify-content: start;
  }
  &__btn {
    padding: 0, 5px;
    text-transform: uppercase;
    height: 44px;
    width: 113px;
    background-color: transparent;
    box-sizing: content-box;
    border-radius: 5px;
    border: 1px solid #000;
    &:hover,
    &:focus {
      background-color: rgb(232, 228, 228);
      box-shadow: 0px 8px 30px rgba(232, 228, 228, 0.9);
    }
    @media screen and (min-width: 768px) {
      width: 125px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
.active {
  background-color: var(--accent-color-orange);
  border-color: var(--accent-color-orange);
  color: var(--white-color);
  &:hover,
  &:focus {
    background-color: #f4863d;
    box-shadow: 0px 4px 15px rgba(255, 107, 1, 0.6);
  }
}
.no-scroll {
  overflow: hidden;
}
.output-constainer {
  height: 450px;
  overflow: auto;

  @media screen and (min-width: 768px) {
    height: 100%;
    padding-right: 0;
    display: flex;
  }
}

.iframe-tr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 30vh;
  @media screen and (min-width: 450px) {
    width: 100vw;
    height: 50vh;
  }
  @media screen and (min-width: 768px) {
    width: 70vw;
    height: 55vh;
  }
  @media screen and (min-width: 1024px) {
    width: 70vw;
    height: 60vh;
  }
}
