.movies-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.movies-card {
  width: 280px;
}

.movies {
  display: flex;
  flex-grow: 1;
  width: 280px;
  height: 402px;
  background-color: palegoldenrod;
  border-radius: 5px;
}

.movies_name {
  font-size: 12px;
  line-height: calc(16 / 12);
  margin-top: 10px;
  color: #000000;
}
.genre {
  color: var(--accent-color-orange);
}
