.movies-container {
  padding-top: 50px;
  padding-bottom: 50px;
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.movies-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.movies-card {
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: calc(50% - 15px);
  }
  @media screen and (min-width: 1024px) {
    width: calc(33% - 20px);
  }
}

.movies {
  min-height: 274px;
  width: 100%;
  background-color: palegoldenrod;
  border-radius: 5px;
}

.movies_name {
  font-size: 12px;
  line-height: calc(16 / 12);
  margin-top: 10px;
  color: #000000;
}
.genre {
  color: var(--accent-color-orange);
}
