.pagination-container {
  display: flex;
  justify-content: center;
  gap: 4px;
}
.pagination-list {
  display: flex;
  align-items: center;
}
.pagination-item {
  list-style: none;
}
.pagination-btn {
  width: 35px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-text-color);
  border-color: transparent;
  font-size: 12px;
  line-height: 16px;
  & .pagination-btn__active {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color-orange);
    color: var(--white-color);
  }
}

.pagination-row {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #f7f7f7;
  border-style: solid;
  border-color: #f7f7f7;
}

.array-left {
  stroke: var(--primary-text-color);
  fill: transparent;
}
.array-right {
  stroke: var(--primary-text-color);
  fill: transparent;
}

.pagination-row[disabled] {
  background-color: var(--white-color);
  color: var(--white-color);
  cursor: not-allowed;
  & svg {
    stroke: #a09c9caf;
    fill: transparent;
  }
}
